docxtpl
python-docx
matplotlib
numpy
pandas
Pygments
Jinja2
requests
langchain
langchain-openai
langgraph
pydantic
pdfplumber
chromadb
sentence-transformers
tiktoken
llama-parse
langchain-community
fastapi
uvicorn[standard]
python-multipart
docker
streamlit
python-dotenv
